<% include ../partials/boilerplate %>
<form action="/create/<%= match.tourney %>?_method=PUT" method="post">
  <h2>Select a winner</h2>
    <input type="radio" name="winner" value="<%= match.s1a_id %>"><%= match.name1 %><br>
    <input type="radio" name="winner" value="<%= match.s2b_id %>"><%= match.name2 %><br>
    <button type="submit">Submit</button>
</form>
<% include ../partials/end %>
